.annoucements_trending_container {
  display: flex;
  flex-direction: column;
  width: auto;

  .announcements_container,
  .trending_container {
    height: 60vh;
  }
}

@media (min-width: 768px) {
  .annoucements_trending_container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 18rem;
    margin-left: 2rem;

    .announcements_container,
    .trending_container {
      height: 55vh;
    }
  }
}

@media (min-width: 1024px) {
  .annoucements_trending_container {
    width: 25rem;
  }

  .announcements_container,
  .trending_container {
    height: 30vh;
  }
}

@media (min-width: 1280px) {
  .annoucements_trending_container {
    width: 30rem;
  }

  .announcements_container,
  .trending_container {
    height: 70vh;
  }
}

@media (min-width: 1440px) {
  .annoucements_trending_container {
    width: 35rem;
  }

  .announcements_container,
  .trending_container {
    height: 75vh;
  }
}
