@import "reset.scss";
@import "./variables.scss";
@import "../components/NavBar/navbar.scss";
@import "../components/Card/card.scss";
@import "../components/Sidebar/sidebar.scss";
@import "src/components/AnnoucementTrendingContainer/annoucementTrendingContainer.scss";
@import "src/components/CardsContainer/cardsContainer.scss";
@import "src/components/Announcement/announcement.scss";
@import "src/components/Trending/trending.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main_content {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  padding: 1rem;

  .containers {
    display: flex;
    flex-direction: row;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: $font-color-h1;
}

.avatar {
  vertical-align: middle;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  padding: $padding-size;
}

@media (min-width: 768px) {
  .main_content {
    flex-direction: row;
    margin-left: 19rem;
    width: 85%;
  }
}
