// Couleurs
$background-color: #dbedfb;
$background-color-card: rgb(229, 194, 37);
$background-color-blue: rgb(0, 183, 255);
$padding-size: 1rem;
$icon-color: rgb(165, 164, 164);
$avatar-size: 50px;
$border-radius: 20px;
$border-radius-card: 10px;
$font-color-h1: rgb(33, 33, 33);
