// Couleurs
$background-color: #dbedfb;
$background-color-card: rgb(229, 194, 37);
$padding-size: 1rem;
$icon-color: rgb(165, 164, 164);
$avatar-size: 50px;
$border-radius: 20px;
$border-radius-card: 10px;
