.card_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  min-height: 10rem;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    transition: all 0.2s ease-in-out;
    width: 28rem;
  }

  @media (min-width: 1024px) {
    width: 45rem;
  }

  @media (min-width: 1440px) {
    width: 55rem;
  }

  @media (min-width: 1920px) {
    width: 70rem;
  }
}
