.sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $background-color-blue;
  height: 75vh;
  width: 20%;
  margin-top: 8rem;
  position: fixed;
  top: 0;
  color: white;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius-card;
  transform: translateX(-100%);

  &.open {
    transform: translateX(0%);
  }

  .sidebar_header {
    display: none;
  }

  .sidebar_links_settings {
    margin-top: 2rem;
  }

  .sidebar_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $padding-size;
    padding: $padding-size;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;

    li {
      display: none;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &.active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  // Media query for devices with a minimum width of 768px or more
  @media (min-width: 768px) {
    margin-top: 0;
    justify-content: flex-start;
    height: 100vh;
    border-radius: 0;
    max-width: 13vw;
    padding: 1rem;

    transform: translateX(0%);

    .sidebar_header {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      padding: $padding-size;
      margin-bottom: 1.5rem;

      h1 {
        display: none;
      }
    }

    .sidebar_links_settings {
      margin-top: 2rem;
    }

    .sidebar_link {
      display: flex;
      justify-content: left;
      align-items: center;
      padding: $padding-size;
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold;
      transition: 0.3s;

      li {
        display: none;
      }
    }
  }

  width: min-content;
}

@media (min-width: 1024px) {
  .sidebar {
    max-width: 13vw;

    .sidebar_header {
      display: flex;
      align-items: center;
      font-size: 1rem;
      padding: $padding-size;
      margin-bottom: 1.5rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.2);
      }

      h1 {
        display: flex;
        margin-left: 1rem;
        font-weight: bold;
        color: white;
      }
    }

    .sidebar_link {
      display: flex;
      justify-content: left;
      align-items: center;
      padding: $padding-size;
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold;
      transition: 0.3s;

      li {
        display: flex;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media (min-width: 1440px) {
}
